@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade {
  animation: fadeIn 8s ease-in-out;
}

#hero-1 {
  background-image: url("/assets/images/hero-1.png");
  background-size: cover;
  animation-delay: 0s;
}

#hero-2 {
  background-image: url("/assets/images/hero-2.png");
  background-size: cover;
  animation-delay: 5s;
}

#hero-3 {
  background-image: url("/assets/images/hero-3.png");
  background-size: cover;
  animation-delay: 10s;
}

.x-announcement {
  background-image: url("/assets/images/bg-pengumuman.png");
  background-size: cover;
}
